### FNF-Specific
# File used for the NG API. Should not be shared with others.
APIStuff.hx
art/build_x32-officialrelease.bat
art/build_x64-officialrelease.bat
art/test_x64-debug-officialrelease.bat

### VS Code
export/*
.vscode/*
*.code-workspace
# Local history which shouldn't be shared.
.history
.ionide
# ! means a file should be added regardless of it it gets ignored prior.
# Including to allow others to use already set-up configuration tweaked for the project.
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/.vs/EXE/FileContentIndex/2222856d-b295-4c33-9513-dfd3027861ec.vsidx
/.vs/EXE/FileContentIndex/29135fae-57a0-4e8b-9624-d40b1858501a.vsidx
/.vs/EXE/FileContentIndex/6b97aafe-5f3e-4f84-8755-b63fe0bfed9f.vsidx
/.vs/EXE/FileContentIndex/8d3b5d85-b8e4-48f4-bab1-4844fe118625.vsidx
/.vs/EXE/FileContentIndex/read.lock
